.mbsc-wp .mbsc-sc-itm,
.mbsc-wp .mbsc-sc-itm:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mbsc-wp .mbsc-sc-whl-gr {
    padding: .1875em;
}

.mbsc-wp .mbsc-sc-lbl-v .mbsc-sc-whl-gr {
    padding-top: 1.875em;
}

.mbsc-wp .mbsc-sc-lbl {
    font-size: .75em;
    line-height: 2.5em;
}

.mbsc-wp .mbsc-sc-btn {
    background: #1f1f1f;
}

.mbsc-wp .mbsc-sc-btn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.2em;
    height: 2.2em;
    margin: -1.3em 0 0 -1.3em;
    color: #fff;
    line-height: 2.2em;
    font-size: .625em;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 2.2em;
}

.mbsc-wp .mbsc-sc-itm {
    opacity: 0;
    padding: 0 .384615em;
    font-size: 1.625em;
    letter-spacing: -.038em;
    text-align: left;
}

.mbsc-wp .mbsc-sc-itm:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: .136363em;
    right: .136363em;
    bottom: .136363em;
    left: .136363em;
    border: 2px solid #4c4c4c;
}

.mbsc-wp .mbsc-sc-whl-anim .mbsc-sc-itm,
.mbsc-wp .mbsc-sc-whl-wpa .mbsc-sc-itm {
    opacity: 1;
}

.mbsc-wp .mbsc-sc-whl-anim .mbsc-sc-itm-inv,
.mbsc-wp .mbsc-sc-whl-wpa .mbsc-sc-itm-inv {
    opacity: .3;
}

.mbsc-wp .mbsc-sc-itm-ph:after {
    display: none;
}

.mbsc-wp .mbsc-sc-whl .mbsc-sc-itm-sel {
    color: #fff;
}

.mbsc-wp .mbsc-sc-whl .mbsc-sc-itm-sel,
.mbsc-wp .mbsc-sc-whl .mbsc-sc-itm.mbsc-btn-a {
    opacity: 1;
}

.mbsc-wp .mbsc-sc-itm-sel:after,
.mbsc-wp .mbsc-sc-itm.mbsc-btn-a:after,
.mbsc-wp .mbsc-sc-btn-a:before {
    background: #1a9fe0;
    border-color: #1a9fe0;
}

.mbsc-wp .mbsc-sc-whl-w:not(.mbsc-sc-whl-multi) .mbsc-sc-whl-anim .mbsc-sc-itm-sel:after,
.mbsc-wp .mbsc-sc-whl-w:not(.mbsc-sc-whl-multi) .mbsc-sc-whl-wpa .mbsc-sc-itm.mbsc-btn-a:after {
    background: none;
    border-color: #4c4c4c;
}


/* Multiple select */

.mbsc-wp .mbsc-sc-whl-multi .mbsc-sc-itm {
    opacity: 1;
    padding-left: 1.5375em;
}

.mbsc-wp .mbsc-sc-whl-multi .mbsc-sc-itm-inv {
    opacity: .3;
}

.mbsc-wp .mbsc-sc-whl-multi .mbsc-sc-itm:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: .192307em;
    width: .923076em;
    height: .923076em;
    margin-top: -.461538em;
    border: 2px solid #fff;
}

.mbsc-wp .mbsc-sc-whl-multi .mbsc-sc-itm-sel:before {
    z-index: 2;
    top: 50%;
    left: .3125em;
    width: 1.375em;
    margin-top: -.5em;
    font-size: .615384em;
    line-height: 1.25em;
    color: #fff;
}


/* Group select */

.mbsc-wp .mbsc-sc-whl .mbsc-sel-gr {
    opacity: 1;
    padding-left: .227272em;
    font-size: 1.375em;
    font-weight: normal;
}

.mbsc-wp .mbsc-sc-whl .mbsc-sel-gr:after {
    display: none;
}


/* Date & Time */

.mbsc-wp.mbsc-dt .mbsc-sc-itm {
    padding-top: 4%;
}

.mbsc-wp .mbsc-dt-day,
.mbsc-wp .mbsc-dt-month {
    position: absolute;
    bottom: .454545em;
    display: block;
    line-height: 1.636363em;
    font-size: .423076em;
    letter-spacing: normal;
}

.mbsc-wp .mbsc-dt-whl-date .mbsc-sc-itm {
    font-size: 1.25em;
}
