/* Wheel container wrapper */
.dwc {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Wheel label */
.dwl {
    line-height: 30px;
    height: 30px;
    top: -30px;
    left: 0;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    width: 100%;
}
/* Wheel container */
.dwwc {
    margin: 0 auto;
    position: relative;
    zoom: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.dwfl {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
	flex: 1 auto;
}
/* Wheels */
.dwwl {
    position: relative;
    z-index: 5;
}
.dwww {
    position: relative;
    padding: 1px;
    /*overflow: hidden;*/
}
.dww {
    overflow: hidden;
    position: relative;
}
.dw-bf {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    backface-visibility: hidden;
    perspective: 1000px;
}
.dw-ul {
    position: relative;
    z-index: 3;
}
.dw-li {
    padding: 0 5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    opacity: .3;
    filter: Alpha(Opacity=30);
}
/* Valid entry */
.dw-li.dw-v {
    opacity: 1;
    filter: Alpha(Opacity=100);
}
/* Hidden entry */
.dw-li.dw-h {
    visibility: hidden;
}
.dw-i {
    position: relative;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Clickpick mode */
.dwwb {
    position: absolute;
    z-index: 4;
    left: 0;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.dwa .dwwb {
    opacity: 0;
}
.dwpm .dwwbp {
    top: 0;
}
.dwpm .dwwbm {
    bottom: 0;
}
.dwpm .dwwol {
    display: none;
}
/* Wheel overlay */
.dwwo {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
/* Background line */
.dwwol {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 100%;
    pointer-events: none;
}
/* Liquid mode */
.dw-liq .dwc {
    display: block;
}
.dw-liq .dw-tbl {
    width: 100%;
    table-layout: fixed;
}
/* Hidden label */
.dwhl .dwl {
    display: none;
}
/* Hidden select element */
.dw-hsel {
    position: absolute;
    height: 1px;
    width: 1px;
    left: 0;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}
/* Multiple lines */
.dw-ml .dw-li {
    overflow: hidden;
}
.dw-ml .dw-li .dw-i {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}
/* Multiple selection */
.dwwms .dw-li {
    padding: 0 40px;
}
.dw-msel:before {
    width: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}


/* Default theme */
.mbsc-default .dwc {
    padding: 26px 2px 4px 2px;
}
.mbsc-default .dwhl {
    padding-top: 4px;
}
.mbsc-default .dwfl {
    padding: 4px 3px;
    margin: 0 -1px;
    background: #000;
}
.mbsc-default .dw-ltr .dwfl:first-child,
.mbsc-default .dw-rtl .dwfl:last-child {
    margin-left: 0;
    padding-left: 4px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.mbsc-default .dw-ltr .dwfl:last-child,
.mbsc-default .dw-rtl .dwfl:first-child {
    margin-right: 0;
    padding-right: 4px;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
/* Wheel items */
.mbsc-default .dw-li {
    font-size: 26px;
    text-shadow: 0 1px 1px #000;
}
/* Higlighted */
.mbsc-default .dw-hl {
    background: rgba(255,255,255,.3);
}
.mbsc-default .dwwl {
    padding: 0 2px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #888;
    background: -webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.35, #333),color-stop(0.50, #888),color-stop(0.65, #333),to(#000));
    background: -webkit-linear-gradient(#000,#333 35%, #888 50%,#333 65%,#000);
    background: -moz-linear-gradient(#000,#333 35%, #888 50%,#333 65%,#000);
    background: linear-gradient(#000,#333 35%, #888 50%,#333 65%,#000);
}
.mbsc-default .dww {
    color: #fff;
    background: #444;
    background: -webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.45, #444),color-stop(0.55, #444),to(#000));
    background: -webkit-linear-gradient(#000,#444 45%, #444 55%, #000);
    background: -moz-linear-gradient(#000,#444 45%, #444 55%, #000);
    background: linear-gradient(#000,#444 45%, #444 55%, #000);
}
.mbsc-default .dwwo {
    background: -webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.52, rgba(44,44,44,0)),color-stop(0.48, rgba(44,44,44,0)),to(#000));
    background: -webkit-linear-gradient(#000,rgba(44,44,44,0) 52%, rgba(44,44,44,0) 48%, #000);
    background: -moz-linear-gradient(#000,rgba(44,44,44,0) 52%, rgba(44,44,44,0) 48%, #000);
    background: linear-gradient(#000,rgba(44,44,44,0) 52%, rgba(44,44,44,0) 48%, #000);
}
.mbsc-default .dwwol {
    height: 0;
    margin-top: -1px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #555;
}
/* Clickpick mode */
.mbsc-default .dwpm .dwwl {
    padding: 0;
    background: #fff;
}
.mbsc-default .dwpm .dww {
    color: #000;
    background: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.mbsc-default .dwpm .dw-li {
    text-shadow: none;
}
.mbsc-default .dwwb {
    background: #ccc;
    color: #888;
    text-shadow: 0 -1px 1px #333;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
}
.mbsc-default .dwwbp {
    background: -webkit-gradient(linear,left bottom,left top,from(#bdbdbd),to(#f7f7f7));
    background: -webkit-linear-gradient(#f7f7f7,#bdbdbd);
    background: -moz-linear-gradient(#f7f7f7,#bdbdbd);
    background: linear-gradient(#f7f7f7,#bdbdbd);
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    font-size: 40px;
}
.mbsc-default .dwwbm {
    background: -webkit-gradient(linear,left bottom,left top,from(#f7f7f7),to(#bdbdbd));
    background: -webkit-linear-gradient(#bdbdbd,#f7f7f7);
    background: -moz-linear-gradient(#bdbdbd,#f7f7f7);
    background: linear-gradient(#bdbdbd,#f7f7f7);
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    font-size: 32px;
    font-weight: bold;
}
.mbsc-default .dwwl .dwb-a {
    background: #3c7500;
    background: -webkit-gradient(linear,left bottom,left top,from(#3c7500),to(#94c840));
    background: -webkit-linear-gradient(#94c840,#3c7500);
    background: -moz-linear-gradient(#94c840,#3c7500);
    background: linear-gradient(#94c840,#3c7500);
}
