.mbsc-ios .mbsc-fr-overlay {
    background: rgba(0, 0, 0, .2);
}

.mbsc-ios .mbsc-fr-w {
    position: relative;
    background: #f7f7f7;
    color: #000;
    padding-top: 3.666667em;
    font-size: 12px;
    font-family: -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.mbsc-ios .mbsc-fr-hdr {
    padding: 0 .416667em;
    color: #9d9d9d;
    line-height: 2.5em;
    min-height: 2.5em;
    border-bottom: 1px solid #acacac;
}

.mbsc-ios .mbsc-fr-btn-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #acacac;
}

.mbsc-ios .mbsc-fr-btn {
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 .625em;
    display: inline-block;
    color: #007aff;
    font-size: 1.333333em;
}

.mbsc-ios .mbsc-fr-btn-a {
    opacity: .5;
}

.mbsc-ios .mbsc-fr-btn-w {
    display: block;
    float: right;
}

.mbsc-ios .mbsc-fr-btn-c,
.mbsc-ios .mbsc-rtl .mbsc-fr-btn-s {
    float: left;
}

.mbsc-ios .mbsc-rtl .mbsc-fr-btn-c {
    float: right;
}

.mbsc-ios .mbsc-fr-btn-s .mbsc-fr-btn {
    font-weight: bold;
}


/* Bubble arrow */

.mbsc-ios .mbsc-fr-bubble-bottom .mbsc-fr-arr {
    border-color: transparent transparent #f7f7f7 transparent;
}

.mbsc-ios .mbsc-fr-bubble-top .mbsc-fr-arr {
    border-color: #f7f7f7 transparent transparent transparent;
}

.mbsc-ios.mbsc-fr-bubble .mbsc-fr-w,
.mbsc-ios.mbsc-fr-center .mbsc-fr-w {
    border-radius: 8px;
}


/* Inline display */

.mbsc-ios.mbsc-fr-nobtn .mbsc-fr-w {
    padding-top: 0;
}
