/* Android Holo skin */
.mbsc-android-holo .dwc {
    padding: 30px 10px 1px 10px;
}
.mbsc-android-holo .dwhl {
    padding: 1px 10px;
}
.mbsc-android-holo .dw-li {
    color: #fff;
    font-size: 18px;
}
.mbsc-android-holo .dw-hl {
    background: rgba(49,182,231,.5);
}
.mbsc-android-holo .dwwo {
    background: -webkit-gradient(linear,left bottom,left top,from(#282828),color-stop(0.52, rgba(40,40,40,0)),color-stop(0.48, rgba(40,40,40,0)),to(#282828));
    background: -webkit-linear-gradient(#282828,rgba(40,40,40,0) 52%, rgba(40,40,40,0) 48%, #282828);
    background: -moz-linear-gradient(#282828,rgba(40,40,40,0) 52%, rgba(40,40,40,0) 48%, #282828);
    background: linear-gradient(#282828,rgba(40,40,40,0) 52%, rgba(40,40,40,0) 48%, #282828);
}
.mbsc-android-holo .dwwb {
    color: #7e7e7e;
    background: #292829;
}
.mbsc-android-holo .dwwb span {
    display: none;
}
.mbsc-android-holo .dwwb:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 26px;
    text-align: center;
}
.mbsc-android-holo .dwwbm {
    top: 0;
    bottom: auto;
}
.mbsc-android-holo .dwwbp {
    bottom: 0;
    top: auto;
}
.mbsc-android-holo .dwwl .dwb-a {
    background: #292829;
    color: #319abd;
}
.mbsc-android-holo .dwwol {
    display: block;
    width: 60%;
    left: 20%;
    height: 36px;
    border-top: 2px solid #31b6e7;
    border-bottom: 2px solid #31b6e7;
    margin-top: -20px;
}
/* Multiple select */
.mbsc-android-holo .dwwms .dwwol {
    display: none;
}
.mbsc-android-holo .dwwms .dw-li {
    padding: 0 36px;
}
.mbsc-android-holo .dwwms .dw-li:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: auto;
    right: 10px;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 1px solid #424542;
}
.mbsc-android-holo .dw-msel:before {
    z-index: 2;
    top: 50%;
    left: auto;
    right: 10px;
    width: 14px;
    color: #31b6e7;
    margin-top: -10px;
    line-height: 14px;
    text-shadow: 0 0 5px #29799c;
}

/* Light version */
.mbsc-android-holo-light .dw-li {
    color: #000;
}
.mbsc-android-holo-light .dwwo {
    background: -webkit-gradient(linear,left bottom,left top,from(#f5f5f5),color-stop(0.52, rgba(245,245,245,0)),color-stop(0.48, rgba(245,245,245,0)),to(#f5f5f5));
    background: -webkit-linear-gradient(#f5f5f5,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f5f5f5);
    background: -moz-linear-gradient(#f5f5f5,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f5f5f5);
    background: linear-gradient(#f5f5f5,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f5f5f5);
}
.mbsc-android-holo-light .dwwl .dwwb {
    background: #f5f5f5;
}
/* Multiple select */
.mbsc-android-holo-light .dw-msel:before {
    color: #29799c;
    text-shadow: 0 0 5px #31b6e7;
}
