.mbsc-ios .dwo {
    background: rgba(0, 0, 0, .2);
    filter: Alpha(Opacity=20);
}

.mbsc-ios .dwwr {
    position: relative;
    background: #f7f7f7;
    color: #000;
    padding-top: 3.333334em;
    font-size: 12px;
}

.mbsc-ios .dwv {
    padding: 0 .416667em;
    color: #9d9d9d;
    line-height: 2.5em;
    min-height: 2.5em;
    border-bottom: 1px solid #acacac;
}

.mbsc-ios .dwbc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #acacac;
}

.mbsc-ios .dwb {
    height: 2.352941em;
    line-height: 2.352941em;
    padding: 0 .588235em;
    display: inline-block;
    color: #007aff;
    font-size: 1.416667em;
}

.mbsc-ios .dwb-a {
    opacity: .5;
}

.mbsc-ios .dwbw {
    display: block;
    float: right;
}

.mbsc-ios .dwb-c {
    float: left;
}

.mbsc-ios .dwb-s .dwb {
    font-weight: bold;
}
/* Bubble arrow */

.mbsc-ios .dw-bubble-bottom .dw-arr {
    border-color: transparent transparent #f7f7f7 transparent;
}

.mbsc-ios .dw-bubble-top .dw-arr {
    border-color: #f7f7f7 transparent transparent transparent;
}

.mbsc-ios.dw-bubble .dwwr {
    border-radius: 8px;
}
/* Inline display */

.mbsc-ios.dw-nobtn .dwwr {
    padding-top: 0;
}
