@font-face {
	font-family: 'icons_mobiscroll';
	src:url('icons_mobiscroll.eot?p1tv5r');
	src:url('icons_mobiscroll.eot?#iefixp1tv5r') format('embedded-opentype'),
		url('icons_mobiscroll.woff?p1tv5r') format('woff'),
		url('icons_mobiscroll.ttf?p1tv5r') format('truetype'),
		url('icons_mobiscroll.svg?p1tv5r#icons_mobiscroll') format('svg');
	font-weight: normal;
	font-style: normal;
}

.mbsc-ic:before {
	font-family: 'icons_mobiscroll';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mbsc-ic-home:before {
	content: "\e600";
}
.mbsc-ic-office:before {
	content: "\e601";
}
.mbsc-ic-newspaper:before {
	content: "\e602";
}
.mbsc-ic-pencil:before {
	content: "\e603";
}
.mbsc-ic-droplet:before {
	content: "\e604";
}
.mbsc-ic-image2:before {
	content: "\e605";
}
.mbsc-ic-camera:before {
	content: "\e606";
}
.mbsc-ic-play:before {
	content: "\e607";
}
.mbsc-ic-bullhorn:before {
	content: "\e608";
}
.mbsc-ic-connection:before {
	content: "\e609";
}
.mbsc-ic-book:before {
	content: "\e60a";
}
.mbsc-ic-library:before {
	content: "\e60b";
}
.mbsc-ic-file4:before {
	content: "\e60c";
}
.mbsc-ic-copy:before {
	content: "\e60d";
}
.mbsc-ic-copy3:before {
	content: "\e60e";
}
.mbsc-ic-stack:before {
	content: "\e60f";
}
.mbsc-ic-folder:before {
	content: "\e610";
}
.mbsc-ic-tag:before {
	content: "\e611";
}
.mbsc-ic-cart:before {
	content: "\e612";
}
.mbsc-ic-credit:before {
	content: "\e613";
}
.mbsc-ic-support:before {
	content: "\e614";
}
.mbsc-ic-phone:before {
	content: "\e615";
}
.mbsc-ic-location:before {
	content: "\e616";
}
.mbsc-ic-map:before {
	content: "\e617";
}
.mbsc-ic-history:before {
	content: "\e618";
}
.mbsc-ic-clock:before {
	content: "\e619";
}
.mbsc-ic-alarm2:before {
	content: "\e61a";
}
.mbsc-ic-stopwatch:before {
	content: "\e61b";
}
.mbsc-ic-calendar:before {
	content: "\e61c";
}
.mbsc-ic-mobile:before {
	content: "\e61d";
}
.mbsc-ic-drawer:before {
	content: "\e61e";
}
.mbsc-ic-download:before {
	content: "\e61f";
}
.mbsc-ic-upload:before {
	content: "\e620";
}
.mbsc-ic-disk:before {
	content: "\e621";
}
.mbsc-ic-undo2:before {
	content: "\e622";
}
.mbsc-ic-redo2:before {
	content: "\e623";
}
.mbsc-ic-forward:before {
	content: "\e624";
}
.mbsc-ic-reply:before {
	content: "\e625";
}
.mbsc-ic-bubble:before {
	content: "\e626";
}
.mbsc-ic-bubbles:before {
	content: "\e627";
}
.mbsc-ic-user4:before {
	content: "\e628";
}
.mbsc-ic-key2:before {
	content: "\e629";
}
.mbsc-ic-lock2:before {
	content: "\e62a";
}
.mbsc-ic-unlocked:before {
	content: "\e62b";
}
.mbsc-ic-cogs:before {
	content: "\e62c";
}
.mbsc-ic-aid:before {
	content: "\e62d";
}
.mbsc-ic-bars:before {
	content: "\e62e";
}
.mbsc-ic-remove:before {
	content: "\e62f";
}
.mbsc-ic-airplane:before {
	content: "\e630";
}
.mbsc-ic-cloud-download:before {
	content: "\e631";
}
.mbsc-ic-cloud-upload:before {
	content: "\e632";
}
.mbsc-ic-globe:before {
	content: "\e633";
}
.mbsc-ic-earth:before {
	content: "\e634";
}
.mbsc-ic-link:before {
	content: "\e635";
}
.mbsc-ic-flag:before {
	content: "\e636";
}
.mbsc-ic-attachment:before {
	content: "\e637";
}
.mbsc-ic-eye:before {
	content: "\e638";
}
.mbsc-ic-eye-blocked:before {
	content: "\e639";
}
.mbsc-ic-star:before {
	content: "\e649";
}
.mbsc-ic-star2:before {
	content: "\e64a";
}
.mbsc-ic-star3:before {
	content: "\e63a";
}
.mbsc-ic-heart:before {
	content: "\e63b";
}
.mbsc-ic-thumbs-up:before {
	content: "\e63c";
}
.mbsc-ic-thumbs-up2:before {
	content: "\e63d";
}
.mbsc-ic-smiley2:before {
	content: "\e63e";
}
.mbsc-ic-sad2:before {
	content: "\e63f";
}
.mbsc-ic-close:before {
	content: "\e640";
}
.mbsc-ic-checkmark:before {
	content: "\e641";
}
.mbsc-ic-minus:before {
	content: "\e642";
}
.mbsc-ic-plus:before {
	content: "\e643";
}
.mbsc-ic-play2:before {
	content: "\e64b";
}
.mbsc-ic-pause:before {
	content: "\e64c";
}
.mbsc-ic-stop:before {
	content: "\e64d";
}
.mbsc-ic-loop2:before {
	content: "\e644";
}
.mbsc-ic-arrow-right:before {
	content: "\e64e";
}
.mbsc-ic-arrow-left:before {
	content: "\e64f";
}
.mbsc-ic-arrow-left2:before {
	content: "\e645";
}
.mbsc-ic-arrow-down:before {
	content: "\e646";
}
.mbsc-ic-arrow-up:before {
	content: "\e647";
}
.mbsc-ic-arrow-right2:before {
	content: "\e648";
}
