.mbsc-wp .dwwr {
    padding: .625em;
    background: #1f1f1f;
    color: #fff;
    font-size: 16px;
}
.mbsc-wp .dwv {
    font-size: .75em;
    padding: .833em;
    padding-top: 0;
}
.mbsc-wp .dwbc {
    display: block;
}
.mbsc-wp .dwbw {
    display: inline-block;
}
.mbsc-wp .dwb,
.mbsc-wp .mbsc-ic:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.mbsc-wp .dwb {
    position: relative;
    top: 0;
    min-width: 2.9em;
    display: inline-block;
    height: 1.818em;
    padding: 2.636em .455em 0 .455em;
    color: #fff;
    line-height: 1.818em;
    font-size: 0.688em;
    text-transform: lowercase;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
}
.mbsc-wp .dwb:before {
    position: absolute;
    top: .3em;
    left: 50%;
    width: 2.2em;
    height: 2.2em;
    margin: 0 -1.3em;
    padding: 0;
    border: 2px solid #fff;
    line-height: 2.2em;
    font-size: .909em;
    text-align: center;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
}
.mbsc-wp .dwb-a {
    top: -.3em;
}
.mbsc-wp .dwb-a:before {
    background: #fff;
    color: #1f1f1f;
}
/* Bubble positioning */
.mbsc-wp .dw-bubble-bottom .dw-arr {
    border-color: transparent transparent #1f1f1f transparent;
}
.mbsc-wp .dw-bubble-top .dw-arr {
    border-color: #1f1f1f transparent transparent transparent;
}

/* Light version */
.mbsc-wp-light .dwwr {
    background: #dedede;
    color: #000;
}
.mbsc-wp-light .dwb {
    color: #000;
}
.mbsc-wp-light .dwb:before {
    border: 2px solid #000;
    color: #000;
}
.mbsc-wp-light .dwb-a:before {
    background: #000;
    color: #dedede;
}
/* Bubble positioning */
.mbsc-wp-light .dw-bubble-bottom .dw-arr {
    border-color: transparent transparent #dedede transparent;
}
.mbsc-wp-light .dw-bubble-top .dw-arr {
    border-color: #dedede transparent transparent transparent;
}
