.mbsc-ios7 .dwl {
    text-align: left;
    text-indent: 5px;
    color: #ababab;
}
.mbsc-ios7 .dwwc {
    padding: 30px 10px 10px 10px;
}
.mbsc-ios7 .dwhl .dwwc {
    padding-top: 10px;
}
.mbsc-ios7 .dwwo {
    background: -webkit-gradient(linear,left bottom,left top,from(#f7f7f7),color-stop(0.52, rgba(245,245,245,0)),color-stop(0.48, rgba(245,245,245,0)),to(#f7f7f7));
    background: -webkit-linear-gradient(#f7f7f7,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f7f7f7);
    background: -moz-linear-gradient(#f7f7f7,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f7f7f7);
    background: linear-gradient(#f7f7f7,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f7f7f7);
}
.mbsc-ios7 .dwwol {
    padding: 0 10px;
    height: 34px;
    margin: -18px 0 0 -10px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.mbsc-ios7 .dw-li {
    color: #9d9d9d;
    font-size: 22px;
    text-align: left;
}
.mbsc-ios7 .dw-hl {
    background: rgba(0,122,255,.2);
}
.mbsc-ios7 .dw-sel {
    color: #000;
}
/* Clickpick mode */
.mbsc-ios7 .dwpm .dw-li {
    text-align: center;
}
.mbsc-ios7 .dwpm .dwwol {
    display: block;
}
.mbsc-ios7 .dwwb {
    color: #007aff;
    background: #f7f7f7;
}
.mbsc-ios7 .dwwbp {
    bottom: 0;
    top: auto;
}
.mbsc-ios7 .dwwbm {
    top: 0;
    bottom: auto;
}
.mbsc-ios7 .dwwb span {
    display: none;
}
.mbsc-ios7 .dwwb:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 24px;
    text-align: center;
}
/* Select */
.mbsc-ios7.dw-select .dwwo {
    display: none;
}
/* Multiple select */
.mbsc-ios7 .dwwms .dwwol {
    display: none;
}
.mbsc-ios7 .dwwms .dw-li {
    padding: 0 5px 0 40px;
    color: #000;
}
.mbsc-ios7 .dwwms .dw-msel {
    color: #007aff;
}
.mbsc-ios7 .dw-msel:before {
    font-size: 40px;
}

