.dw-persp {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1001;
}
.dw-bottom .dw-persp {
    overflow:hidden;
}
.dw-in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 350ms;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 350ms;
}
.dw-out {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 350ms;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 350;
}
.dw-pop
{
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
}
.dw-pop.dw-in
{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
    -webkit-animation-name: popin;
    -moz-animation-name: popin;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-pop.dw-out
{
    -webkit-animation-name: popout;
    -moz-animation-name: popout;
    opacity: 0;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}

.dw-flip
{
    /* from pop*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    /* from turn */
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
    -moz-backface-visibility:hidden;
    -moz-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
}
.dw-flip.dw-in {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
    -webkit-animation-name: flipin;
    -moz-animation-name: flipin;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-flip.dw-out {
    -webkit-animation-name: flipout;
    -moz-animation-name: flipout;
    opacity: 0;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-swing
{
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
    -moz-backface-visibility:hidden;
    -moz-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
}
.dw-swing.dw-in
{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
    -webkit-animation-name: swingin;
    -moz-animation-name: swingin;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-swing.dw-out
{
    -webkit-animation-name: swingout;
    -moz-animation-name: swingout;
    opacity: 0;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-slidehorizontal
{
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
    -moz-backface-visibility:hidden;
    -moz-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
}
.dw-slidehorizontal.dw-in
{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
    -webkit-animation-name: slideleftin;
    -moz-animation-name: slideleftin;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-slidehorizontal.dw-out
{
    opacity: 0;
    -webkit-animation-name: slideleftout;
    -moz-animation-name: slideleftout;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-slidevertical
{
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
    -moz-backface-visibility:hidden;
    -moz-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
}
.dw-slidevertical.dw-in
{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
    -webkit-animation-name: slidetopin;
    -moz-animation-name: slidetopin;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-slidevertical.dw-out
{
    opacity: 0;
    -webkit-animation-name: slidetopout;
    -moz-animation-name: slidetopout;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-slidedown
{
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
    -moz-backface-visibility:hidden;
    -moz-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
}
.dw-slidedown.dw-in
{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
    -webkit-animation-name: slidetoptotopin;
    -moz-animation-name: slidetoptotopin;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-slidedown.dw-out
{
    opacity: 1;
    -webkit-animation-name: slidetoptotopout;
    -moz-animation-name: slidetoptotopout;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-slideup
{
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
    -moz-backface-visibility:hidden;
    -moz-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
}
.dw-slideup.dw-in
{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
    -webkit-animation-name: slidebottomtobottomin;
    -moz-animation-name: slidebottomtobottomin;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-slideup.dw-out
{
    opacity: 1;
    -webkit-animation-name: slidebottomtobottomout;
    -moz-animation-name: slidebottomtobottomout;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-fade
{
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
    -moz-backface-visibility:hidden;
    -moz-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
}
.dw-fade.dw-in
{
    opacity: 1;
    -webkit-animation-name: fadein;
    -moz-animation-name: fadein;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}
.dw-fade.dw-out
{
    opacity: 0;
    -webkit-animation-name: fadeout;
    -moz-animation-name: fadeout;
    -webkit-animation-duration: 350ms;
    -moz-animation-duration: 350ms;
}



@-webkit-keyframes fadein
{
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@-moz-keyframes fadein
{
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeout
{
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}
@-moz-keyframes fadeout
{
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@-webkit-keyframes popin
{
    from {
        -webkit-transform: scale(0.8);
        opacity: 0;
    } to {
         -webkit-transform: scale(1);
         opacity: 1;
    }
}
@-moz-keyframes popin
{
    from {
        opacity: 0;
        -moz-transform: scale(0.8);
    } to {
        opacity: 1;
        -moz-transform: scale(1);
    }
}
@-webkit-keyframes popout
{
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    } to {
         -webkit-transform: scale(0.8);
         opacity: 0;
    }
}
@-moz-keyframes popout
{
    from {
        opacity: 1;
        -moz-transform: scale(1);
    } to {
        opacity: 0;
        -moz-transform: scale(0.8);
    }
}
@-webkit-keyframes flipin
{
    from {
        -webkit-transform: rotateY(90deg);
        opacity: 0;
    } to {
         -webkit-transform: rotateY(0);
         opacity: 1;
    }
}
@-moz-keyframes flipin
{
    from {
        opacity: 0;
        -moz-transform: rotateY(90deg);
    } to {
        opacity: 1;
        -moz-transform: rotateY(0);
    }
}
@-webkit-keyframes flipout
{
    from {
        -webkit-transform: rotateY(0deg);
        opacity: 1;
    } to {
         -webkit-transform: rotateY(-90deg);
         opacity: 0;
    }
}
@-moz-keyframes flipout
{
    from {
        opacity: 1;
        -moz-transform: rotateY(0deg);
    } to {
        opacity: 0;
        -moz-transform: rotateY(-90deg);
    }
}
@-webkit-keyframes swingin
{
    from {
        opacity:0;
        -webkit-transform:rotateY(-90deg);
    } to {
        opacity:1;
        -webkit-transform:rotateY(0deg);
    }
}
@-moz-keyframes swingin
{
    from {
        opacity:0;
        -moz-transform:rotateY(-90deg);
    } to {
        opacity:1;
        -moz-transform:rotateY(0deg);
    }
}
@-webkit-keyframes swingout
{
    from {
        opacity:1;
        -webkit-transform:rotateY(0deg);
    } to {
        opacity:0;
        -webkit-transform:rotateY(-90deg);
    }
}
@-moz-keyframes swingout
{
    from {
        opacity:1;
        -moz-transform:rotateY(0deg);
    } to {
        opacity:0;
        -moz-transform:rotateY(-90deg);
    }
}

@-webkit-keyframes slideleftin
{
    from {
        opacity:0;
        -webkit-transform:translateX(-100%);
    } to {
        opacity:1;
        -webkit-transform:translateX(0);
    }
}
@-moz-keyframes slideleftin
{
    from {
        opacity:0;
        -moz-transform:translateX(-100%);
    } to {
        opacity:1;
        -moz-transform:translateX(0);
    }
}

@-webkit-keyframes slideleftout
{
    from {
        opacity:1;
        -webkit-transform:translateX(0);
    } to {
        opacity:0;
        -webkit-transform:translateX(100%);
    }
}
@-moz-keyframes slideleftout
{
    from {
        opacity:1;
        -moz-transform:translateX(0);
    } to {
        opacity:0;
        -moz-transform:translateX(100%);
    }
}

@-webkit-keyframes slidetopin
{
    from {
        opacity:0;
        -webkit-transform:translateY(-100%);
    } to {
        opacity:1;
        -webkit-transform:translateY(0);
    }
}
@-moz-keyframes slidetopin
{
    from {
        opacity:0;
        -moz-transform:translateY(-100%);
    } to {
        opacity:1;
        -moz-transform:translateY(0);
    }
}

@-webkit-keyframes slidetopout
{
    from {
        opacity:1;
        -webkit-transform:translateY(0);
    } to {
        opacity:0;
        -webkit-transform:translateY(100%);
    }
}
@-moz-keyframes slidetopout
{
    from {
        opacity:1;
        -moz-transform:translateY(0);
    } to {
        opacity:0;
        -moz-transform:translateY(100%);
    }
}


@-webkit-keyframes slidetoptotopout
{
    from
    {
        opacity:1;
        -webkit-transform:translateY(0);
    } to
    {
        opacity:1;
        -webkit-transform:translateY(-100%);
    }
}
@-moz-keyframes slidetoptotopout
{
    from
    {
        opacity:1;
        -moz-transform:translateY(0);
    } to
    {
        opacity:1;
        -moz-transform:translateY(-100%);
    }
}
@-webkit-keyframes slidetoptotopin
{
    from
    {
        opacity:1;
        -webkit-transform:translateY(-100%);
    } to
    {
        opacity:1;
        -webkit-transform:translateY(0);
    }
}
@-moz-keyframes slidetoptotopin
{
    from
    {
        opacity:1;
        -moz-transform:translateY(-100%);
    } to
    {
        opacity:1;
        -moz-transform:translateY(0);
    }
}
@-webkit-keyframes slidebottomtobottomin
{
    from
    {
        opacity:1;
        -webkit-transform:translateY(100%);
    } to
    {
        opacity:1;
        -webkit-transform:translateY(0);
    }
}
@-moz-keyframes slidebottomtobottomin
{
    from
    {
        opacity:1;
        -moz-transform:translateY(100%);
    } to
    {
        opacity:1;
        -moz-transform:translateY(0);
    }
}
@-webkit-keyframes slidebottomtobottomout
{
    from
    {
        opacity:1;
        -webkit-transform:translateY(0);
    } to
    {
        opacity:1;
        -webkit-transform:translateY(100%);
    }
}
@-moz-keyframes slidebottomtobottomout
{
    from
    {
        opacity:1;
        -moz-transform:translateY(0);
    } to
    {
        opacity:1;
        -moz-transform:translateY(100%);
    }
}
