.mbsc-sc-whl-o,
.mbsc-sc-btn {
    /* Prevent flickering on animation */
    -webkit-transform: translateZ(0);
}


/* Force content box */

.mbsc-sc-whl-c,
.mbsc-sc-whl-l,
.mbsc-sc-whl {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}


/* Force border box */

.mbsc-sc-whl-gr-c,
.mbsc-sc-itm {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mbsc-sc-whl-gr-c {
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}

.mbsc-fr-liq .mbsc-sc-whl-gr-c {
    display: block;
}

.mbsc-sc-whl-gr {
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.mbsc-sc-whl-w {
    max-width: 100%;
    /*-webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;*/
    position: relative;
    /*-ms-touch-action: none;
    touch-action: none;*/
}

.mbsc-sc-whl-o {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.mbsc-sc-whl-l {
    display: none;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 0;
    right: 0;
    pointer-events: none;
}

.mbsc-sc-whl-w .mbsc-sc-whl-l {
    display: block;
}

.mbsc-sc-whl {
    overflow: hidden;
    border-radius: 1px;
    /* Forces IE to respect overflow hidden while animating */
    border-top: 1px solid transparent;
    /* Fixes Firefox rendering issues */
    border-bottom: 1px solid transparent;
}

.mbsc-sc-whl-c {
    position: relative;
    z-index: 1;
    top: 50%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.mbsc-sc-whl-sc {
    position: relative;
}

.mbsc-sc-itm {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mbsc-sc-itm-inv,
.mbsc-sc-itm-inv-h {
    opacity: .3;
}

.mbsc-sc-lbl {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    display: none;
}

.mbsc-sc-lbl-v .mbsc-sc-lbl {
    display: block;
}

.mbsc-sc-btn {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.mbsc-sc-btn:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.mbsc-sc-whl-a .mbsc-sc-btn {
    opacity: 0;
}

.mbsc-sc-btn-plus {
    bottom: 0;
}

.mbsc-sc-btn-minus {
    top: 0;
}


/* 3D */

.mbsc-sc-whl-gr-3d {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.mbsc-sc-whl-gr-3d .mbsc-sc-whl {
    /* For iOS to respect z-index */
    overflow: visible;
}

.mbsc-sc-whl-gr-3d .mbsc-sc-whl-c {
    overflow: hidden;
}

.mbsc-sc-whl-3d {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mbsc-sc-itm-3d {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mbsc-sc-itm-del {
    display: none;
}


/* Multiline */

.mbsc-sc-itm-ml {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}


/* Select */

.mbsc-sel-hdn {
    position: absolute;
    height: 1px !important;
    width: 1px !important;
    left: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.mbsc-sel-gr {
    padding: 0 .25em;
    opacity: 1;
    font-weight: bold;
    text-align: left;
}


/* Multiple */

.mbsc-sel-multi .mbsc-sc-whl-w .mbsc-sc-whl-l {
    display: none;
}

.mbsc-sc-whl-multi .mbsc-sc-itm-sel:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    text-align: center;
}


/* Default Theme */

.mbsc-mobiscroll .mbsc-sc-whl-gr {
    padding: .5em .25em;
}

.mbsc-mobiscroll .mbsc-sc-whl-w {
    margin: 0 .25em;
}

.mbsc-mobiscroll .mbsc-sc-whl-o {
    display: none;
}

.mbsc-mobiscroll .mbsc-sc-lbl-v .mbsc-sc-whl-w {
    margin-top: 1.875em;
}

.mbsc-mobiscroll .mbsc-sc-lbl {
    color: #4eccc4;
    font-size: .75em;
    line-height: 2.5em;
    text-transform: uppercase;
}

.mbsc-mobiscroll .mbsc-sc-whl-l {
    border-top: 1px solid #4eccc4;
    border-bottom: 1px solid #4eccc4;
}

.mbsc-mobiscroll .mbsc-sc-btn {
    color: #4eccc4;
    background: #f7f7f7;
}

.mbsc-mobiscroll .mbsc-sc-btn:before {
    font-size: 1.5em;
}

.mbsc-mobiscroll .mbsc-sc-btn-a:before {
    background: rgba(78, 204, 196, .3);
}

.mbsc-mobiscroll .mbsc-sc-itm {
    padding: 0 .25em;
    font-size: 1.375em;
}

.mbsc-mobiscroll .mbsc-sc-itm.mbsc-btn-a {
    background: rgba(78, 204, 196, .3);
}


/* Select */

.mbsc-mobiscroll .mbsc-sc-whl .mbsc-sel-gr {
    padding: 0 .25em;
    font-size: 1.125em;
}


/* Multiple select */

.mbsc-mobiscroll .mbsc-sc-whl-multi .mbsc-sc-itm {
    padding: 0 1.818181em;
}

.mbsc-mobiscroll .mbsc-sc-whl-multi .mbsc-sc-itm-sel:before {
    font-size: 1.818181em;
    color: #4eccc4;
}
