.mbsc-jqm .mbsc-sc-whl-gr-c {
    overflow: visible;
}

.mbsc-jqm .mbsc-sc-whl-gr {
    padding: 4px 2px;
}

.mbsc-jqm .mbsc-sc-lbl-v .mbsc-sc-whl-gr {
    padding-top: 30px;
}

.mbsc-jqm .mbsc-sc-lbl {
    border: 0;
    background: none;
    line-height: 30px;
}

.mbsc-jqm .mbsc-sc-whl-w {
    margin: 0 2px;
}

.mbsc-jqm .mbsc-sc-whl-l {
    z-index: 2;
    margin: 0 -2px;
    border-left: 0;
    border-right: 0;
    opacity: .3;
}

.mbsc-jqm .mbsc-ltr .mbsc-sc-whl-w:first-child .mbsc-sc-whl-l,
.mbsc-jqm .mbsc-rtl .mbsc-sc-whl-w:last-child .mbsc-sc-whl-l {
    margin-left: -4px;
}

.mbsc-jqm .mbsc-ltr .mbsc-sc-whl-w:last-child .mbsc-sc-whl-l,
.mbsc-jqm .mbsc-rtl .mbsc-sc-whl-w:first-child .mbsc-sc-whl-l {
    margin-right: -4px;
}

.mbsc-jqm .mbsc-sc-itm {
    padding: 0 5px;
    font-size: 26px;
}

.mbsc-jqm .mbsc-sc-itm.mbsc-btn-a {
    background: rgba(0, 0, 0, .1);
}


/* Clickpick mode */

.mbsc-jqm .mbsc-sc-cp .mbsc-sc-whl-l {
    display: none;
}

.mbsc-jqm .mbsc-sc-btn {
    margin: 0;
    padding: 0;
}

.mbsc-jqm .mbsc-sc-btn:after {
    top: 50%;
    margin-top: -11px;
}

.mbsc-jqm .mbsc-sc-btn-plus {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.mbsc-jqm .mbsc-sc-btn-minus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


/* Multiple select */

.mbsc-jqm .mbsc-sc-whl-multi .mbsc-sc-itm {
    padding: 0 40px;
}

.mbsc-jqm .mbsc-sc-whl-multi .mbsc-sc-itm-sel:after {
    left: 9px;
}


/* Group select */

.mbsc-jqm .mbsc-sc-whl .mbsc-sel-gr {
    padding: 0 5px;
    font-size: 20px;
}
