@use 'sass:map';
@use 'sass:color';
@use '../../themes/common';

@mixin mbsc-ios-legacy-radio($theme, $params) {
  $background: map.get($params, 'background');
  $accent: map.get($params, 'accent');

  $accent-param: map.get($params, 'form-accent');
  $bg-param: map.get($params, 'form-background');

  $accent: common.choose($accent-param, $accent-param, $accent);
  $background: common.choose($bg-param, $bg-param, $background);

  $disabled: '';

  @if (color.channel($background, 'lightness', $space: hsl) > 50%) {
    $disabled: color.adjust($background, $lightness: -20%);
  } @else {
    $disabled: color.adjust($background, $lightness: 23%);
  }

  $form-selection: '';

  @if (color.channel($accent, 'lightness', $space: hsl) > 50%) {
    $form-selection: color.adjust(color.adjust($accent, $saturation: 15%), $lightness: 3%);
  } @else {
    $form-selection: color.adjust(color.adjust($accent, $saturation: -15%), $lightness: -3%);
  }

  .mbsc-#{$theme} {
    &.mbsc-radio-box:after {
      border-color: $form-selection;
    }

    &.mbsc-radio-label.mbsc-disabled {
      color: $disabled;
    }
  }
}
