@use 'sass:map';
@use '../../themes/common';
@use '../../themes/windows-legacy';

@mixin mbsc-windows-legacy-radio($theme, $params) {
  $background: map.get($params, 'background');
  $text: map.get($params, 'text');
  $accent: map.get($params, 'accent');

  $text-param: map.get($params, 'form-text');
  $accent-param: map.get($params, 'form-accent');

  $accent: common.choose($accent-param, $accent-param, $accent);
  $text: common.choose($text-param, $text-param, $text);

  .mbsc-#{$theme} {
    &.mbsc-radio-box {
      border: 0.125em solid $text;
    }

    &.mbsc-radio-box:after {
      background: $text;
    }

    &.mbsc-radio-box.mbsc-checked {
      border-color: $accent;
    }

    &.mbsc-radio-box.mbsc-active {
      border-color: rgba($text, 0.6);
    }

    &.mbsc-radio-box.mbsc-active:after {
      background: rgba($text, 0.6);
    }
  }
}
