@mixin mbsc-material-popup($theme, $params) {
  .mbsc-#{$theme} {
    &.mbsc-popup-wrapper {
      --mbsc-popup-bg-color: var(--mbsc-#{$theme}-popup-bg-color, var(--mbsc-#{$theme}-surface-container-high));
      --mbsc-popup-text-color: var(--mbsc-#{$theme}-popup-text-color, var(--mbsc-#{$theme}-text));
      --mbsc-popup-accent: var(--mbsc-#{$theme}-popup-accent, var(--mbsc-#{$theme}-accent));
    }
  }
}
