@import "../core/exports";
@import "../core/mobiscroll";

@mixin mbsc-mobiscroll-input($theme, $params) {
  @include exports("input.#{$theme}.colors") {

    $background: map-get($params, background);
    $accent: map-get($params, accent);

    $colors: mbsc-mobiscroll-colors($params);
    $input-icon: map-get($colors, input-icon);
    $input-box: map-get($colors, input-box);
    $error: map-get($colors, error);
    $color-input: map-get($colors, color-input);

    .mbsc-#{$theme} {

      /* Textbox */
      .mbsc-input input,
      .mbsc-input textarea {
        border-bottom: 1px solid $input-icon;
        color: $color-input;
      }

      .mbsc-input input:focus,
      .mbsc-input select:focus ~ input .mbsc-input textarea:focus,
      .mbsc-input textarea:focus {
        border-color: $accent;
      }

      .mbsc-input-ic {
        color: $input-icon;
      }

      /* Box Input */
      .mbsc-input-box {
        &.mbsc-input .mbsc-input-wrap {
          background: $input-box;
        }
      }

      /* Outline Input */
      .mbsc-input-outline {

        &.mbsc-input input,
        &.mbsc-input textarea {
          border: 1px solid $input-icon;
        }

        &.mbsc-input .mbsc-label {
          background: $background;
        }

        &.mbsc-input input:focus,
        &.mbsc-input select:focus ~ input,
        &.mbsc-err input {
          border-color: $accent;
        }

        &.mbsc-input textarea:focus {
          border-color: $accent;
        }
      }

      .mbsc-input.mbsc-err input,
      .mbsc-input.mbsc-err textarea {
        border-color: $error;
      }
    }
  }
}
