@import "../core/exports";
@import "../core/windows";
@import "../page/page.windows.colors";
@import "../input/input.windows.colors";
@import "../slider/slider.windows.colors";
@import "../rating/rating.windows.colors";
@import "../notifications/notifications.windows.colors";

@mixin mbsc-windows-forms($theme, $params) {
  @include exports("forms.#{$theme}.colors") {

    @include mbsc-windows-page($theme, $params);
    @include mbsc-windows-input($theme, $params);
    @include mbsc-windows-slider($theme, $params);
    @include mbsc-windows-rating($theme, $params);
    @include mbsc-windows-notifications($theme, $params);

    $background: map-get($params, background);
    $text: map-get($params, text);
    $accent: map-get($params, accent);

    $colors: mbsc-windows-colors($params);
    $form-background: map-get($colors, form-background);
    $checkbox-border: map-get($colors, checkbox-border);
    $button-border: map-get($colors, button-border);
    $frame-border: map-get($colors, frame-border);
    $input-border: map-get($colors, input-border);
    $input-hover: map-get($colors, input-hover);
    $button-background: map-get($colors, button-background);
    $border-color: map-get($colors, border-color);
    $segmented-disabled: map-get($colors, segmented-disabled);
    $button-hover: map-get($colors, button-hover);

    .mbsc-#{$theme} {
      &.mbsc-form {
        background-color: $form-background;
        color: $text;
      }

      &.mbsc-form *::-moz-selection,
      &.mbsc-form *::selection {
        color: get-contrast-color($accent);
        background: rgba($accent, .9);
      }

      /* Checkbox, radio */
      .mbsc-checkbox-box,
      .mbsc-radio-box {
        border: .125em solid $text;
      }

      .mbsc-checkbox-box:after {
        border: .125em solid $checkbox-border;
        border-top: 0;
        border-right: 0;
      }

      .mbsc-checkbox input:checked + .mbsc-checkbox-box {
        background: $accent;
        border-color: $accent;
      }

      .mbsc-checkbox input.mbsc-active + .mbsc-checkbox-box {
        border-color: $input-hover;
        background: $input-hover;
      }

      /* Radio */
      .mbsc-radio-box:after {
        background: $text;
      }

      .mbsc-radio input:checked + .mbsc-radio-box {
        border-color: $accent;
      }

      .mbsc-radio input.mbsc-active + .mbsc-radio-box {
        border-color: rgba($text, .6);
      }

      .mbsc-radio input.mbsc-active + .mbsc-radio-box:after {
        background: rgba($text, .6);
      }

      /* Buttons */
      .mbsc-btn {
        background: $frame-border;
        border: .125em solid $frame-border;
        color: $text;
      }

      &.mbsc-no-touch .mbsc-btn:not(.mbsc-btn-flat):not(:disabled):hover {
        border-color: $button-border;
      }

      .mbsc-btn.mbsc-active {
        border-color: $button-border;
        background: $button-border;
      }

      &.mbsc-no-touch .mbsc-btn-flat:not(:disabled):hover {
        background: transparent;
        border-color: transparent;
      }

      .mbsc-btn.mbsc-btn-flat.mbsc-active:not(:disabled) {
        background: rgba($frame-border, .25);
      }

      /* Outline buttons */
      .mbsc-btn.mbsc-btn-outline {
        background: transparent;
        border: 0.125em solid $input-border;
        color: $input-border;

        &.mbsc-active {
          background: $button-background;
          border-color: $button-background;
          color: get-contrast-color($button-background);
        }
      }

      /* button hover style */
      &.mbsc-no-touch {
        .mbsc-btn.mbsc-btn-outline:not(:disabled):hover {
          border-color: $button-background;
        }
      }

      .mbsc-switch-track {
        border: 2px solid $text;
      }

      .mbsc-switch-track .mbsc-switch-handle {
        background: $text;
      }

      .mbsc-switch input:checked + .mbsc-switch-track {
        background: $accent;
        border-color: $accent;

        .mbsc-switch-handle {
          background: $background;
        }
      }

      .mbsc-switch input:checked:disabled + .mbsc-switch-track {
        background: $text;
        border-color: $text;
      }

      &.mbsc-form .mbsc-switch input.mbsc-active + .mbsc-switch-track {
        background: $input-hover;
        border-color: $input-hover;

        .mbsc-switch-handle {
          background: $background;
        }
      }

      /* Segmented & Stepper */
      .mbsc-segmented-content {
        color: $text;
        background: $frame-border;
      }

      .mbsc-segmented-content.mbsc-stepper-val {
        background: transparent;
        border-top: 2px solid $frame-border;
        border-bottom: 2px solid $frame-border;
      }

      &.mbsc-ltr .mbsc-segmented:not(.mbsc-stepper) .mbsc-segmented-item {
        border-right: 1px solid $border-color;
      }

      &.mbsc-rtl .mbsc-segmented:not(.mbsc-stepper) .mbsc-segmented-item {
        border-left: 1px solid $border-color;
      }

      .mbsc-segmented:not(.mbsc-stepper) .mbsc-segmented-item:last-child,
      .mbsc-segmented .mbsc-segmented-item.mbsc-stepper-plus,
      .mbsc-stepper-val-left .mbsc-segmented input + .mbsc-segmented-item,
      .mbsc-segmented .mbsc-segmented-item.mbsc-stepper-control {
        border: 0;
      }

      &.mbsc-ltr .mbsc-segmented .mbsc-stepper-control + .mbsc-stepper-control {
        border-left: 1px solid $border-color;
      }

      &.mbsc-rtl .mbsc-segmented .mbsc-stepper-control + .mbsc-stepper-control {
        border-right: 1px solid $border-color;
      }

      .mbsc-segmented .mbsc-segmented-item input:checked + .mbsc-segmented-content {
        background: $text;
        color: $form-background;
      }

      .mbsc-segmented .mbsc-segmented-item.mbsc-stepper-control.mbsc-active .mbsc-segmented-content,
      .mbsc-segmented .mbsc-segmented-item input:checked + .mbsc-segmented-content,
      .mbsc-segmented .mbsc-segmented-item input.mbsc-active + .mbsc-segmented-content {
        background: $button-border;
      }

      .mbsc-stepper .mbsc-segmented-item.mbsc-active .mbsc-segmented-content {
        background: $button-border;
      }

      .mbsc-segmented input:disabled ~ .mbsc-segmented-item .mbsc-segmented-content,
      .mbsc-segmented .mbsc-segmented-item.mbsc-stepper-control.mbsc-disabled .mbsc-segmented-content,
      .mbsc-stepper .mbsc-segmented-item.mbsc-disabled .mbsc-segmented-content,
      .mbsc-segmented .mbsc-segmented-item input:disabled + .mbsc-segmented-content {
        background: $frame-border;
      }

      .mbsc-stepper input:disabled {
        color: $segmented-disabled;
        -webkit-text-fill-color: $segmented-disabled;
      }

      .mbsc-segmented .mbsc-segmented-item input:disabled:checked + .mbsc-segmented-content {
        color: $form-background;
        background: $segmented-disabled;
      }

      .mbsc-stepper .mbsc-active.mbsc-disabled .mbsc-segmented-content {
        background: transparent;
      }

      .mbsc-stepper input {
        color: $text;
      }

      &.mbsc-no-touch .mbsc-segmented-item:hover .mbsc-segmented-content {
        background: $button-hover;
      }
    }
  }
}
