@font-face {
    font-family: 'icons_mobiscroll';
    src: url();
    font-weight: normal;
    font-style: normal;
}

.{{ className }}:before {
    font-family: 'icons_mobiscroll';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Icons */
{% for glyph in glyphs %} 
.{{ className }}-{{ glyph.name }}::before {
    content: "\{{ glyph.unicode[0].charCodeAt(0).toString(16) }}";
}{% endfor %}
