@theme: material;
@input1: #009688;
@input2: #eee;
@input3: #5b5b5b;

/* --- New built in parameters --- */

@material-accent: @input1;
@material-background: @input2;
@material-text: @input3;
@material-ripple: contrast(@material-background);

/* Light/dark versions */

.light-or-dark();

// Light background 
.light-or-dark() when (lightness(@material-background) > 50%) {
    @material-border: lighten(@material-text, 40%);
    @material-scrollbar-track: rgba(0, 0, 0, .05);
    @material-box-bck: darken(@material-background, 7%);

}

// Dark background 
.light-or-dark() when (lightness(@material-background) <=50%) {
    @material-border: darken(@material-text, 40%);
    @material-scrollbar-track: rgba(255, 255, 255, .2);
    @material-box-bck: lighten(@material-background, 7%);
}


/* --- */

@output1_1: @input1;
@output1_2: hsv(hsvhue(@input1), max(hsvsaturation(@input1)-79%, 10%), @isLight1_2);
@output2_1: @input2;
@output2_2: hsv(hsvhue(@input2), @hsvsaturation_23567, @isLight2_2);
@output2_3: hsv(hsvhue(@input2), @hsvsaturation_23567, max(hsvvalue(@input2) + 5%, 72%));
@output2_4: hsv(hsvhue(@input2), hsvsaturation(@input2), max(hsvvalue(@input2) - 9%, 0%));
@output2_5: hsv(hsvhue(@input2), @hsvsaturation_23567, max(hsvvalue(@input2) - 13%, 45%));
@output2_6: hsv(hsvhue(@input2), @hsvsaturation_23567, max(hsvvalue(@input2) - 20%, 35%));
@output2_7: hsv(hsvhue(@input2), @hsvsaturation_23567, @isLight2_7);
@output2_8: hsv(300, 0%, @hsvvalue2_8);
@output2_9: hsv(hsvhue(@input2), hsvsaturation(@input2), min(hsvvalue(@input2) + @isLight2_9, 100%));
@output3_1: @input3;
@output3_2: hsv(hsvhue(@input3), hsvsaturation(@input3), min(hsvvalue(@input3) + 7%, 100%));
@output3_3: hsv(hsvhue(@input3), hsvsaturation(@input3), max(hsvvalue(@input3) - 24%, 0%));
@output3_4: hsv(hsvhue(@input3), hsvsaturation(@input3), min(hsvvalue(@input3) + 10%, 100%));
@output3_5: hsv(hsvhue(@input3), hsvsaturation(@input3), min(hsvvalue(@input3) + 40%, 78%));
@output3_6: hsv(hsvhue(@input3), @hsvsaturation3_6, @isLight3_6);
@output3_7: hsv(hsvhue(@input3), hsvsaturation(@input3), @isLight3_7);
@deltainput2: red(@input2)*0.299 + green(@input2)*0.587 + blue(@input2)*0.114;
@snackbar_action: hsl(hue(@input1), saturation(@input1), max(lightness(@input1), 34%));
@error: #de3226;
.x();

.x() when (@deltainput2 >=140) {
    @isLight1_2: min(hsvvalue(@input1) + 24%, 100%);
    @isLight2_2: max(hsvvalue(@input2) - 9%, 0%);
    @isLight2_7: max(hsvvalue(@input2) - 19%, 0%);
    @isLight2_9: 6%;
    @isLight3_6: max(hsvvalue(@input3) - 36%, 0%);
    @isLight3_7: min(hsvvalue(@input3) + 30%, 100%);
    @colorClearBackground: fade(#dfdede, 30%);
    @snackbar_bg: #323232;
}

.x() when (@deltainput2 < 140) {
    @isLight1_2: 24%;
    @isLight2_2: min(hsvvalue(@input2) + 17%, 100%);
    @isLight2_7: min(hsvvalue(@input2) + 55%, 100%);
    @isLight2_9: 3%;
    @isLight3_6: min(hsvvalue(@input3) + 24%, 100%);
    @isLight3_7: max(hsvvalue(@input3) - 10%, 0%);
    @colorClearBackground: fade(#dfdede, 60%);
    @snackbar_bg: #5b5b5b;
}

.x() when (hsvvalue(@input2) < 17) {
    @hsvsaturation_23567: 0;
}

.x() when (hsvvalue(@input2) >=17) {
    @hsvsaturation_23567: hsvsaturation(@input2);
}

.x() when (hsvvalue(@input2)+25 > 100) {
    @hsvvalue2_8: 0%;
}

.x() when (hsvvalue(@input2)+25 <=100) {
    @hsvvalue2_8: 100%;
}

.x() when (hsvvalue(@input3) < 17) {
    @hsvsaturation3_6: 3;
}

.x() when (hsvvalue(@input3) >=17) {
    @hsvsaturation3_6: hsvsaturation(@input3);
}

.mbsc-@{theme} .mbsc-ripple,
.mbsc-lv-@{theme} .mbsc-ripple {
    background: @output2_8;
}


/* Empty view styling */

.mbsc-@{theme} .mbsc-empty {
    color: @material-text;
}

/* Frame */

.mbsc-@{theme} .mbsc-fr-w {
    background: @output2_1;
    color: @output3_1;
}

.mbsc-@{theme} .mbsc-fr-hdr {
    color: @output1_1;
}

.mbsc-@{theme} .mbsc-fr-btn {
    color: @output1_1;
}

.mbsc-@{theme}.mbsc-no-touch .mbsc-fr-btn-e:not(.mbsc-disabled):hover,
.mbsc-@{theme} .mbsc-fr-btn.mbsc-active {
    background: fade(@output2_8, 10%);
}

.mbsc-@{theme} .mbsc-fr-bubble-bottom .mbsc-fr-arr {
    border-color: transparent transparent @output2_1 transparent;
}

.mbsc-@{theme} .mbsc-fr-bubble-top .mbsc-fr-arr {
    border-color: @output2_1 transparent transparent transparent;
}


/* Scroller */

.mbsc-@{theme} .mbsc-sc-lbl {
    color: @output1_1;
}

.mbsc-@{theme} .mbsc-sc-itm.mbsc-active {
    background: fade(@output2_8, 10%);
}

.mbsc-@{theme} .mbsc-sc-whl-l {
    border-color: @output1_1;
}

.mbsc-@{theme} .mbsc-sc-btn {
    color: @output1_1;
    background: @output2_1;
}

.mbsc-@{theme}.mbsc-no-touch .mbsc-sc-btn:hover,
.mbsc-@{theme} .mbsc-sc-btn.mbsc-active {
    background: fade(@output2_8, 10%);
}

.mbsc-@{theme} .mbsc-sc-whl-multi .mbsc-sc-itm-sel:before {
    color: @output1_1;
}

/* Scrollbar */

.mbsc-@{theme} .mbsc-sc-bar-c {
    background: @material-scrollbar-track;
}

/* Numpad */

.mbsc-@{theme} .mbsc-np-del {
    color: @output1_1;
}


/* Calbase */

.mbsc-@{theme} {
    .mbsc-cal-picker {
        background: @material-background;
    }

    .mbsc-cal-today {
        color: @material-accent;
    }

    /* Hover, focus */
    &.mbsc-no-touch:not(.mbsc-ev-cal) .mbsc-cal-cell:not(.mbsc-disabled):hover .mbsc-cal-cell-txt,
    &.mbsc-no-touch .mbsc-cal-day:not(.mbsc-disabled) .mbsc-cal-day-date:hover,
    .mbsc-cal-cell:focus .mbsc-cal-cell-txt {
        background: fade(@material-ripple, 10%);
    }

    /* Selected */
    .mbsc-cal-c .mbsc-cal .mbsc-cal-body .mbsc-cal-row .mbsc-selected .mbsc-cal-cell-txt {
        background: fade(@material-accent, 30%);
    }

    .mbsc-cal-c .mbsc-cal-day-colored.mbsc-selected .mbsc-cal-day-date {
        border-color: @material-accent;
    }

    /* Tabs */
    .mbsc-cal-tab {
        &.mbsc-selected {
            color: @material-accent;
        }
    }

    /* Marks */
    .mbsc-cal-mark {
        background: @material-accent;
    }

    .mbsc-cal-txt {
        color: @material-background;
        background: lighten(@material-text, 13%);
    }

    .mbsc-cal-icons {
        color: @material-text;
    }
}


/* Event Calendar */

.mbsc-@{theme} {
    .mbsc-cal-events {
        color: @material-background;
    }

    .mbsc-cal-event-color {
        background: @material-accent;
    }

    .mbsc-cal-event-time,
    .mbsc-cal-event-dur {
        color: @material-background;
    }

    .mbsc-cal-events-arr {
        border-color: @material-accent transparent transparent transparent;
    }

    .mbsc-cal-events-b .mbsc-cal-events-arr {
        border-color: transparent transparent @material-accent transparent;
    }

    /* Event listing */
    .mbsc-event-color {
        background: @material-accent;
    }

    /* Desktop grid mode */
    &.mbsc-ev-cal.mbsc-fr-md {
        .mbsc-cal-table {
            border-color: @output2_2;
        }

        .mbsc-cal-cell {
            border-color: @output2_2;
        }
    }
}


/* Range */

.mbsc-@{theme} {
    .mbsc-range-btn-t {
        border-color: @material-border;
    }

    .mbsc-range-btn {
        color: @material-text;

        &.mbsc-selected {
            border-color: @material-accent;
            color: @material-accent;
        }
    }

    &.mbsc-range {
        .mbsc-cal .mbsc-cal-day.mbsc-selected .mbsc-cal-day-date {
            background: none;
            border-color: transparent;
        }

        .mbsc-cal .mbsc-cal-day.mbsc-cal-day-hl .mbsc-cal-day-date {
            background: @material-accent;
            border-color: @material-accent;
            color: @material-background;
        }

        .mbsc-cal-day.mbsc-selected:after {
            background: fade(@material-accent, 10%);
        }
    }
}


/* Navigation */

.mbsc-@{theme} {
    &.mbsc-ms-c {
        background: @material-background;
    }

    .mbsc-ms {
        .mbsc-ms-item {
            color: @material-text;

            /* Selected state */
            &.mbsc-ms-item-sel {
                color: @material-accent;
            }

            /* Active state */
            &.mbsc-active {
                background: fade(@material-ripple, 10%);
            }
        }
    }

    &.mbsc-no-touch {

        /* Hover state */
        .mbsc-ms-item:not(.mbsc-disabled):hover {
            background: fade(@material-ripple, 10%);
        }
    }

    &.mbsc-ms-top {
        border-color: @material-border;
    }

    &.mbsc-ms-bottom {
        border-color: @material-border;
    }

    /* Menu styling */
    &.mbsc-ms-a {
        .mbsc-ms-item {
            &.mbsc-ms-item-sel {
                color: @material-accent;
            }
        }
    }

    /* Tab styling */
    &.mbsc-ms-b {
        .mbsc-ms-item {
            &.mbsc-ms-item-sel {
                border-bottom-color: @material-accent;
            }
        }

        &.mbsc-ms-bottom {
            .mbsc-ms-item {
                &.mbsc-ms-item-sel {
                    border-top-color: @material-accent;
                }
            }
        }
    }
}


/* Listview */

.mbsc-lv-@{theme} .mbsc-lv {
    background: @output2_2;
}

.mbsc-lv-@{theme} .mbsc-lv-item {
    background: @output2_1;
    color: @output3_1;
}

.mbsc-lv-@{theme} .mbsc-lv-item-hl:after,
.mbsc-lv-@{theme} .mbsc-lv-item-active::after,
.mbsc-lv-@{theme} .mbsc-lv-item-dragging:after {
    background: fade(@output2_8, 10%);
}

.mbsc-lv-@{theme}.mbsc-lv-alt-row .mbsc-lv-item:nth-child(even) {
    background: @output2_9;
}

.mbsc-lv-@{theme} .mbsc-lv-gr-title {
    background: @output2_1;
    color: @output1_1;
}

.mbsc-lv-@{theme} .mbsc-lv-arr {
    color: @output1_1;
}

.mbsc-lv-@{theme} .mbsc-lv-handle-bar {
    background: @output1_1;
}

.mbsc-lv-@{theme} p.mbsc-lv-txt {
    color: @output3_4;
}


/* Progress */

.mbsc-@{theme} .mbsc-progress-track {
    background: @output2_2;
}

.mbsc-@{theme} .mbsc-progress-bar {
    background: @output1_1;
}


/* Slider */

.mbsc-@{theme} .mbsc-slider-step {
    background: @output2_8;
}

.mbsc-@{theme} .mbsc-slider-handle {
    background: @output1_1;
    border-color: @output1_1;
}

.mbsc-@{theme} .mbsc-slider-start .mbsc-slider-handle {
    border-color: @output2_2;
    background: @output2_1;
}

.mbsc-@{theme} .mbsc-slider-handle:before {
    background: fade(@output2_8, 10%);
}

.mbsc-@{theme} .mbsc-slider-tooltip {
    color: @output2_1;
    background: @output1_1;
}

.mbsc-@{theme} .mbsc-slider-tooltip:before {
    border-top-color: @output1_1;
}

.mbsc-@{theme}.mbsc-slider-has-tooltip .mbsc-slider-start .mbsc-slider-tooltip {
    background: @output2_2;
}

.mbsc-@{theme}.mbsc-slider-has-tooltip .mbsc-slider-start .mbsc-slider-tooltip:before {
    border-top-color: @output2_2;
}

.mbsc-@{theme}.mbsc-slider input:disabled ~ .mbsc-progress-cont .mbsc-progress-bar {
    background: @output2_2;
}

.mbsc-@{theme}.mbsc-slider input:disabled ~ .mbsc-progress-cont .mbsc-slider-handle {
    background: @output2_2;
    border-color: @output2_2;
    box-shadow: 0 0 0 .3125em @output2_1;
}

.mbsc-@{theme}.mbsc-slider input:disabled ~ .mbsc-progress-cont .mbsc-slider-start .mbsc-slider-handle {
    border-color: @output2_2;
    background: @output2_1;
}

/* Form elements */

.mbsc-@{theme}.mbsc-page {
    background-color: @output2_1;
    color: @output3_2;
}

.mbsc-@{theme}.mbsc-page *::-moz-selection {
    background: @output1_1;
}

.mbsc-@{theme}.mbsc-page *::selection {
    background: @output1_1;
}

.mbsc-@{theme}.mbsc-form {
    background-color: @output2_1;
    color: @output3_2;
}

.mbsc-@{theme}.mbsc-form *::-moz-selection {
    background: @output1_1;
}

.mbsc-@{theme}.mbsc-form *::selection {
    background: @output1_1;
}

.mbsc-@{theme} .mbsc-divider,
.mbsc-@{theme} .mbsc-form-group-title {
    color: @output1_1;
}

.mbsc-@{theme} a {
    color: @output1_1;
}


/* Textbox, textarea, select */

.mbsc-@{theme} .mbsc-input textarea,
.mbsc-@{theme} .mbsc-input input {
    border-bottom: 1px solid @output3_2;
    color: @output3_3;
}

.mbsc-@{theme} .mbsc-input input::-webkit-input-placeholder {
    color: @output3_7;
}

.mbsc-@{theme} .mbsc-input input::-moz-placeholder {
    color: @output3_7;
}

.mbsc-@{theme} .mbsc-input input:-ms-input-placeholder {
    color: @output3_7;
}

.mbsc-@{theme} .mbsc-input select:focus ~ input,
.mbsc-@{theme} .mbsc-input textarea:focus,
.mbsc-@{theme} .mbsc-input input:focus {
    border-bottom: 2px solid @output1_1;
}

.mbsc-@{theme} .mbsc-checkbox-box:before,
.mbsc-@{theme} .mbsc-radio-box:before,
.mbsc-@{theme} .mbsc-switch-handle:before {
    background: fade(@output2_8, 10%);
}


/* Box Input */

.mbsc-@{theme} .mbsc-input-box {
    &.mbsc-input .mbsc-input-wrap {
        background: @material-box-bck;
    }
}

/* Outline Input */

.mbsc-@{theme} .mbsc-input-outline {

    &.mbsc-input input,
    &.mbsc-input textarea {
        border-color: @output3_2;
    }

    &.mbsc-input .mbsc-label {
        background: @material-background;
    }

    &.mbsc-input input:focus,
    &.mbsc-input select:focus ~ input {
        border-color: @material-accent;
    }

    &.mbsc-err input,
    &.mbsc-err input:focus {
        border-color: @error;
    }

    textarea:focus {
        border-color: @material-accent;
    }

    &.mbsc-err textarea,
    &.mbsc-err textarea:focus {
        border-color: @error;
    }
}


/* Select */

.mbsc-@{theme} .mbsc-select .mbsc-input-wrap:after {
    border: 5px solid @output3_2;
    border-color: @output3_2 transparent transparent transparent;
}

.mbsc-@{theme} .mbsc-sel-filter-cont {
    border-color: @output2_2;
}

.mbsc-@{theme} .mbsc-sel-gr-whl {
    &.mbsc-sel-one .mbsc-sc-itm-sel {
        color: @material-accent;
    }
}

.mbsc-@{theme}.mbsc-fr-pointer {

    /* Single select */
    .mbsc-sel-one {
        .mbsc-sc-itm-sel {
            color: @material-accent;
        }
    }
}


/* Checkbox, radio */

.mbsc-@{theme} .mbsc-checkbox-box,
.mbsc-@{theme} .mbsc-radio-box {
    border-color: @output3_2;
}

.mbsc-@{theme} .mbsc-checkbox-box:after {
    border-color: @output2_1;
}

.mbsc-@{theme} .mbsc-checkbox input:checked + .mbsc-checkbox-box {
    background: @output1_1;
    border-color: @output1_1;
}


/* Radio */

.mbsc-@{theme} .mbsc-radio-box:after {
    background: @output1_1;
}

.mbsc-@{theme} .mbsc-radio input:checked + .mbsc-radio-box {
    border-color: @output1_1;
}


/* Button */

.mbsc-@{theme} .mbsc-btn {
    background: @output2_2;
    color: @output3_6;
}

.mbsc-@{theme} .mbsc-btn.mbsc-btn-outline {
    color: @output3_2;
    border-color: @output3_2;
}

.mbsc-@{theme}.mbsc-no-touch .mbsc-btn:not(:disabled):hover,
.mbsc-@{theme} .mbsc-btn.mbsc-active {
    background: @output2_5;
}

.mbsc-@{theme} .mbsc-btn.mbsc-control.mbsc-btn-outline.mbsc-active {
    background: darken(@output3_2, 15%);
}

.mbsc-@{theme} .mbsc-btn-flat {
    background: transparent;
}

.mbsc-@{theme} .mbsc-btn:disabled {
    color: @output2_7;
}

.mbsc-@{theme}.mbsc-btn.mbsc-btn-outline:disabled {
    color: @output2_7;
    border-color: @output2_7;
}

.mbsc-@{theme}.mbsc-no-touch .mbsc-btn-flat:not(:disabled):hover,
.mbsc-@{theme} .mbsc-btn-flat.mbsc-active {
    background-color: @output2_2;
}


/* Switch */

.mbsc-@{theme} .mbsc-switch-track {
    background: @output2_2;
}

.mbsc-@{theme} .mbsc-switch .mbsc-switch-handle {
    background: @output2_3;
}

.mbsc-@{theme} .mbsc-switch input:checked + .mbsc-switch-track {
    background-color: fade(@output1_1, 30%);
}

.mbsc-@{theme} .mbsc-switch input:checked + .mbsc-switch-track .mbsc-switch-handle {
    background: @output1_1;
}

.mbsc-@{theme} .mbsc-switch input:disabled + .mbsc-switch-track {
    background: @output2_2;
}

.mbsc-@{theme} .mbsc-switch input:disabled + .mbsc-switch-track .mbsc-switch-handle {
    background: @output2_6;
}


/* Segmented control and Stepper */

.mbsc-@{theme} .mbsc-segmented-content {
    border-color: @output1_1;
    color: @output3_6;
}

.mbsc-@{theme} .mbsc-segmented .mbsc-segmented-item input:checked + .mbsc-segmented-content,
.mbsc-@{theme} .mbsc-segmented .mbsc-segmented-item input:checked ~ .mbsc-segmented-content {
    background: @output1_1;
    color: @output2_1;
}

.mbsc-@{theme} .mbsc-segmented .mbsc-segmented-item input.mbsc-active + .mbsc-segmented-content,
.mbsc-@{theme} .mbsc-segmented .mbsc-segmented-item .mbsc-active .mbsc-segmented-content {
    background: @output2_5;
    color: @output3_6;
}

.mbsc-@{theme} .mbsc-segmented .mbsc-segmented-item input:disabled + .mbsc-segmented-content {
    color: @output2_7;
    border-color: @output2_2;
    background: transparent;
}

.mbsc-@{theme} .mbsc-segmented .mbsc-segmented-item input:disabled:checked + .mbsc-segmented-content {
    background: @output2_2;
    color: @output2_7;
    border-color: @output2_2;
}

.mbsc-@{theme} .mbsc-stepper .mbsc-segmented-content {
    border-color: @output2_2;
}

.mbsc-@{theme} .mbsc-stepper-control .mbsc-segmented-content {
    background: @output2_2;
}

.mbsc-@{theme} .mbsc-stepper input {
    color: @output3_6;
}

.mbsc-@{theme} .mbsc-segmented input:disabled ~ .mbsc-segmented-item .mbsc-segmented-content,
.mbsc-@{theme} .mbsc-segmented .mbsc-segmented-item.mbsc-stepper-control.mbsc-disabled .mbsc-segmented-content,
.mbsc-@{theme} .mbsc-segmented .mbsc-segmented-item.mbsc-disabled .mbsc-segmented-content {
    background: @output2_2;
    color: @output2_7;
}

.mbsc-@{theme} .mbsc-segmented .mbsc-segmented-item input:disabled ~ .mbsc-segmented-item .mbsc-stepper-val {
    border-color: @output2_2;
    background: @output2_1;
}

.mbsc-@{theme} .mbsc-stepper input:disabled {
    color: @output2_7;
    -webkit-text-fill-color: @output2_7;
}

.mbsc-@{theme}.mbsc-no-touch .mbsc-segmented-item:hover .mbsc-segmented-content {
    background: @output2_5;
    color: @output3_6;
}

/* Rating */

.mbsc-@{theme}.mbsc-rating .mbsc-progress-track {
    color: @material-accent;
}

/* Snackbar */

.mbsc-@{theme}.mbsc-snackbar .mbsc-fr-w {
    background: @snackbar_bg;
}

.mbsc-@{theme}.mbsc-snackbar .mbsc-snackbar-btn {
    color: @snackbar_action;
}


/* Colorpicker */

.mbsc-@{theme} .mbsc-color-active .mbsc-color-item,
.mbsc-no-touch.mbsc-@{theme} .mbsc-color-item:hover {
    box-shadow: inset 0 0 0 .1875em @output1_1;
}

.mbsc-@{theme} .mbsc-color-preview-item-empty {
    border-color: @output2_6;
}

.mbsc-@{theme} .mbsc-color-preview-cont {
    border-top-color: @output2_5;
}

.mbsc-@{theme}.mbsc-form .mbsc-color-input {
    border-bottom: 1px solid @output3_2;
    color: @output3_3;
}

.mbsc-@{theme} .mbsc-color-clear-item {
    background: @colorClearBackground;
}


/* Cards */

.mbsc-@{theme} {
    &.mbsc-card.mbsc-form {
        background: lighten(@material-background, 4.8%);
    }

    &.mbsc-card .mbsc-lv-item {
        background: lighten(@material-background, 4.8%);
    }

    .mbsc-card-list .mbsc-card {
        background: lighten(@material-background, 4.8%);
    }

    .mbsc-card-footer {
        border-color: @material-border;
    }

    &.mbsc-card .mbsc-input.mbsc-input-outline .mbsc-label {
        background: lighten(@material-background, 4.8%);
    }
}
