@use 'sass:map';
@use 'sass:color';
@use '../../themes/common';

@mixin mbsc-ios-legacy-notifications($theme, $params) {
  $background: map.get($params, 'background');
  $text: map.get($params, 'text');
  $accent: map.get($params, 'accent');

  $border-color: '';

  // Light background
  @if (color.channel($background, 'lightness', $space: hsl) > 50%) {
    $border-color: color.adjust($background, $lightness: -17%);
  }

  // Dark background
  @else {
    $border-color: color.adjust($background, $lightness: 20%);
  }

  .mbsc-#{$theme} {
    .mbsc-toast-background {
      background: rgba($text, 0.8);
      color: common.get-contrast-color($text);
    }

    &.mbsc-prompt-input {
      border-color: $border-color;
    }

    &.mbsc-color-none .mbsc-snackbar-button.mbsc-button {
      color: $accent;
    }
  }
}
