/* You can add global styles to this file, and also import other style files */

$mbsc-ios-accent: #e61d2a;
$mbsc-material-accent: #e61d2a;
$mbsc-mobiscroll-accent: #e61d2a;

@import "~@mobiscroll/angular-lite/dist/css/mobiscroll.scss";
