@import "../core/exports";

@include exports("ripple.material") {
  .mbsc-material {
    .mbsc-ripple {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      border-radius: 1000em;
      pointer-events: none;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform cubic-bezier(0, 0, 0.2, 1) .4s, opacity linear .1s;
      transition: transform cubic-bezier(0, 0, 0.2, 1) .4s, opacity linear .1s;
    }

    .mbsc-ripple-scaled {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    .mbsc-ripple-visible {
      opacity: .15;
    }
  }
}
