@import "../notifications";
@import "windows.widget.less";

/* Notifications */

.mbsc-windows {
    /* Toast */
    &.mbsc-toast .mbsc-toast-msg {
        background: @windows-dark-grey;
        color: contrast(@windows-dark-grey);
    }

    /* Snackbar */
    &.mbsc-snackbar .mbsc-snackbar-cont .mbsc-snackbar-btn,
    &.mbsc-snackbar.mbsc-fr .mbsc-fr-c .mbsc-btn-flat:not(:disabled):hover {
        color: @windows-accent;
    }

    &.mbsc-toast .mbsc-fr-w,
    &.mbsc-snackbar .mbsc-fr-w {
        border: 0;
    }

}
