@use '../../themes/common';
@use './stepper.ios' as ios;
@use './stepper.material' as material;
@use './stepper.windows' as windows;

@if common.$mbsc-forms {
  .mbsc-stepper {
    line-height: 1.25em;
    position: relative;
    display: block;
    margin: 0;
    z-index: 0;
    user-select: none;
    box-sizing: border-box;
    padding: 1.5em 1em;
  }

  .mbsc-stepper.mbsc-ltr {
    padding-right: 11.75em;
  }

  .mbsc-stepper.mbsc-rtl {
    padding-left: 11.75em;
  }

  .mbsc-stepper-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .mbsc-stepper-input {
    width: 3.571429em;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 0.875em;
    text-align: center;
    opacity: 1;
    z-index: 3;
    background: transparent;
    appearance: textfield;
  }

  .mbsc-stepper-input::-webkit-outer-spin-button,
  .mbsc-stepper-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .mbsc-stepper-input:focus {
    outline-width: 0;
  }

  .mbsc-stepper-input.mbsc-disabled {
    cursor: not-allowed;
  }

  .mbsc-stepper-control {
    position: absolute;
    z-index: 2;
    margin-top: -1em;
    top: 50%;
    height: 2em;
  }

  .mbsc-stepper-control.mbsc-ltr {
    right: 1em;
  }

  .mbsc-stepper-control.mbsc-rtl {
    left: 1em;
  }

  .mbsc-stepper-start .mbsc-stepper-input {
    border: none;
    order: -1;
  }

  .mbsc-stepper-start.mbsc-ltr .mbsc-stepper-minus.mbsc-button {
    margin-right: -1px;
  }

  .mbsc-stepper-start.mbsc-rtl .mbsc-stepper-minus.mbsc-button {
    margin-left: -1px;
  }

  .mbsc-stepper-end .mbsc-stepper-input {
    border: none;
    order: 2;
  }

  .mbsc-stepper-end.mbsc-ltr .mbsc-stepper-minus.mbsc-button {
    margin-right: -1px;
  }

  .mbsc-stepper-end.mbsc-rtl .mbsc-stepper-minus.mbsc-button {
    margin-left: -1px;
  }

  .mbsc-stepper-button.mbsc-button.mbsc-font {
    width: 3.25em;
    margin: 0;
    display: inline-block;
  }

  .mbsc-stepper-inner {
    font-size: 2em;
    font-weight: bold;
  }

  .mbsc-stepper-minus.mbsc-button.mbsc-ltr,
  .mbsc-stepper-plus.mbsc-button.mbsc-rtl,
  .mbsc-stepper-minus.mbsc-ltr .mbsc-button-bg,
  .mbsc-stepper-plus.mbsc-rtl .mbsc-button-bg {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .mbsc-stepper-plus.mbsc-button.mbsc-ltr,
  .mbsc-stepper-minus.mbsc-button.mbsc-rtl,
  .mbsc-stepper-plus.mbsc-ltr .mbsc-button-bg,
  .mbsc-stepper-minus.mbsc-rtl .mbsc-button-bg {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
