@mixin mbsc-ios-stepper($theme, $params) {
  .mbsc-#{$theme} {
    &.mbsc-stepper {
      --mbsc-stepper-bg-color: var(--mbsc-#{$theme}-stepper-bg-color, var(--mbsc-#{$theme}-surface-5));
      --mbsc-stepper-text-color: var(--mbsc-#{$theme}-stepper-text-color, var(--mbsc-#{$theme}-text));
      --mbsc-stepper-divider-color: var(--mbsc-#{$theme}-stepper-divider-color, var(--mbsc-#{$theme}-text-soft));
      --mbsc-stepper-focus: var(--mbsc-#{$theme}-stepper-focus, var(--mbsc-#{$theme}-focus));
      --mbsc-stepper-disabled-bg: var(--mbsc-#{$theme}-button-disabled-bg, var(--mbsc-#{$theme}-surface-5));
      --mbsc-stepper-disabled-text: var(--mbsc-#{$theme}-button-disabled-text, var(--mbsc-#{$theme}-text));
    }
  }
}
