@use '../../themes/common';
@use '../../themes/windows-legacy';
@use './segmented.windows-legacy.colors' as colors;

@if (common.$mbsc-windows-theme and common.$mbsc-segmented) {
  .mbsc-windows-legacy {
    &.mbsc-segmented {
      padding: 0.75em;
    }

    &.mbsc-segmented-selectbox {
      display: none;
    }

    &.mbsc-segmented-button.mbsc-button {
      margin: 0;
      border-color: transparent;

      &.mbsc-active,
      &.mbsc-hover {
        border-color: transparent;
      }

      &.mbsc-focus {
        z-index: 2;
      }

      /* Color presets */
      &.mbsc-button-primary {
        &.mbsc-active,
        &.mbsc-selected {
          background: windows-legacy.$mbsc-windows-primary;
        }
      }

      &.mbsc-button-secondary {
        &.mbsc-active,
        &.mbsc-selected {
          background: windows-legacy.$mbsc-windows-secondary;
        }
      }

      &.mbsc-button-success {
        &.mbsc-active,
        &.mbsc-selected {
          background: windows-legacy.$mbsc-windows-success;
        }
      }

      &.mbsc-button-danger {
        &.mbsc-active,
        &.mbsc-selected {
          background: windows-legacy.$mbsc-windows-danger;
        }
      }

      &.mbsc-button-warning {
        &.mbsc-active,
        &.mbsc-selected {
          background: windows-legacy.$mbsc-windows-warning;
        }
      }

      &.mbsc-button-info {
        &.mbsc-active,
        &.mbsc-selected {
          background: windows-legacy.$mbsc-windows-info;
        }
      }
    }
  }

  @include colors.mbsc-windows-legacy-segmented('windows-legacy', windows-legacy.$mbsc-windows-colors);
  @include colors.mbsc-windows-legacy-segmented('windows-legacy-dark', windows-legacy.$mbsc-windows-dark-colors);
}
