@mixin mbsc-ios-segmented($theme, $params) {
  .mbsc-#{$theme} {
    &.mbsc-segmented {
      --mbsc-segmented-bg-color: var(--mbsc-#{$theme}-segmented-bg-color, var(--mbsc-#{$theme}-surface-5));
      --mbsc-segmented-text-color: var(--mbsc-#{$theme}-segmented-text-color, var(--mbsc-#{$theme}-text));
      --mbsc-segmented-selected-color: var(--mbsc-#{$theme}-segmented-selected-color, var(--mbsc-#{$theme}-surface-4));
    }
  }
}
