@use '../../themes/common';
@use '../../themes/windows';
@use './checkbox.windows.colors' as colors;

@if (common.$mbsc-windows-theme and common.$mbsc-forms) {
  .mbsc-windows {
    &.mbsc-checkbox-left {
      padding: 1em 1em 1em 3em;
    }

    &.mbsc-checkbox-right {
      padding: 1em 3em 1em 1em;
    }

    &.mbsc-checkbox .mbsc-form-control-label {
      opacity: 0.8;
    }

    &.mbsc-checkbox-box {
      width: 1.25em;
      height: 1.25em;
      margin-top: -0.625em;
      border: 1px solid var(--mbsc-checkbox-border-color);
      border-radius: 0.125em;

      &::before {
        content: '';
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        border-radius: inherit;
        background: var(--mbsc-checkbox-border-hover);
        opacity: 0;
      }

      &::after {
        width: 0.75em;
        height: 0.375em;
        top: 0.3125em;
        left: 0.1875em;
        border: 0.125em solid var(--mbsc-checkbox-checkmark-color);
        border-top: 0;
        border-right: 0;
      }

      &.mbsc-hover {
        border-color: var(--mbsc-checkbox-border-hover);

        + .mbsc-form-control-label {
          opacity: 1;
        }
      }

      &.mbsc-checked {
        background: var(--mbsc-checkbox-selected-color);
        border-color: var(--mbsc-checkbox-selected-color);

        + .mbsc-form-control-label {
          opacity: 1;
        }

        &.mbsc-hover::before {
          opacity: 0.3;
        }

        &.mbsc-active::before {
          opacity: 0.5;
        }
      }

      &.mbsc-focus {
        outline: 2px solid var(--mbsc-checkbox-focus);
        outline-offset: 2px;
      }

      &.mbsc-disabled {
        background: none;
        border-color: var(--mbsc-checkbox-border-color);
        opacity: 0.3;

        + .mbsc-form-control-label {
          opacity: 0.3;
        }

        &::after {
          border-color: var(--mbsc-checkbox-border-color);
        }
      }
    }

    &.mbsc-checkbox-box-left {
      left: 1em;
    }

    &.mbsc-checkbox-box-right {
      right: 1em;
    }

    /* Color presets */

    @each $name in common.$mbsc-color-variants {
      &.mbsc-checkbox-box.mbsc-checkbox-box-#{$name} {
        --mbsc-checkbox-selected-color: var(--mbsc-windows-#{$name});
      }
    }
  }

  @include colors.mbsc-windows-checkbox('windows', windows.$mbsc-windows-colors);
  @include colors.mbsc-windows-checkbox('windows-dark', windows.$mbsc-windows-dark-colors);
}
