@use '../../themes/common';
@use '../../themes/ios';
@use './checkbox.ios.colors' as colors;

@if (common.$mbsc-ios-theme and common.$mbsc-forms) {
  .mbsc-ios {
    &.mbsc-checkbox-right {
      padding: 1em 3.375em 1em 1em;
    }

    &.mbsc-checkbox-left {
      padding: 1em 1em 1em 3.375em;
    }

    &.mbsc-checkbox-box {
      width: 1.375em;
      height: 1.375em;
      margin-top: -0.6875em;
      border: 0.125em solid var(--mbsc-checkbox-border-color);
      border-radius: 2em;

      &::after {
        width: 0.75em;
        height: 0.375em;
        top: 0.3125em;
        left: 0.1875em;
        border: 0.125em solid var(--mbsc-checkbox-checkmark-color);
        border-top: 0;
        border-right: 0;
      }

      &.mbsc-checked {
        background: var(--mbsc-checkbox-selected-color);
        border-color: var(--mbsc-checkbox-selected-color);
      }

      &.mbsc-focus {
        outline: 2px solid var(--mbsc-checkbox-focus);
        outline-offset: 2px;
      }

      &.mbsc-disabled {
        border-color: var(--mbsc-checkbox-disabled);
      }

      &.mbsc-disabled.mbsc-checked {
        background: var(--mbsc-checkbox-disabled);
      }
    }

    &.mbsc-checkbox-box-right {
      right: 1em;
    }

    &.mbsc-checkbox-box-left {
      left: 1em;
    }

    /* Color presets */

    @each $name in common.$mbsc-color-variants {
      &.mbsc-checkbox-box-#{$name} {
        --mbsc-checkbox-border-color: var(--mbsc-ios-#{$name});
        --mbsc-checkbox-selected-color: var(--mbsc-ios-#{$name});
      }
    }
  }

  @include colors.mbsc-ios-checkbox('ios', ios.$mbsc-ios-colors);
  @include colors.mbsc-ios-checkbox('ios-dark', ios.$mbsc-ios-dark-colors);
}
