@mixin mbsc-material-checkbox($theme, $params) {
  .mbsc-#{$theme} {
    &.mbsc-checkbox {
      --mbsc-checkbox-border-color: var(--mbsc-#{$theme}-checkbox-border-color, var(--mbsc-#{$theme}-on-surface-variant));
      --mbsc-checkbox-selected-color: var(--mbsc-#{$theme}-checkbox-selected-color, var(--mbsc-#{$theme}-accent));
      --mbsc-checkbox-checkmark-color: var(--mbsc-#{$theme}-checkbox-checkmark-color, var(--mbsc-#{$theme}-background));
      --mbsc-checkbox-focus: var(--mbsc-#{$theme}-checkbox-focus, var(--mbsc-#{$theme}-secondary-accent));
    }
  }
}
